PackageIdentifier: Jtlsun.mDIR-P
PackageVersion: 2.23.29
InstallerType: zip
NestedInstallerType: portable
NestedInstallerFiles:
  - RelativeFilePath: mDIR.exe
    PortableCommandAlias: mdir
Installers:
  - Architecture: x64
    InstallerUrl: https://github.com/jtl-sun/mdir-p/releases/download/v2.23.29/mDIR-P-2.23.29-win64.zip
    InstallerSha256: INSTALLER_SHA256
ManifestType: installer
ManifestVersion: 1.10.0

